<div cdkDropListGroup>
  <div
    cdkDropList
    [cdkDropListData]="foodInventory"
    (cdkDropListDropped)="drop($event)"
    style="width: fit-content"
    class="row"
  >
    <div
      class="col"
      *ngFor="let food of foodInventory; let i = index"
      style="width: fit-content"
    >
      <img cdkDrag class="foodItems" src="{{ getPath(food) }}" />
    </div>
  </div>

  <div class="container-lg outer-box">
    <!-- subject  -->
    <div style="width: fit-content; height: fit-content">
      <img
        cdkDropList
        [cdkDropListData]="belly"
        (cdkDropListDropped)="drop($event)"
        id="image-class"
        class="image-class"
        src="../../../assets/Images/Sprites/Pegin.png"
        (click)="addPoint()"
        id="sprite"
      />
      <div></div>
    </div>
  </div>
</div>
